:root {
  --primary-purple: #561845;

  --icey-tundra: #082f69;
  --icey-tundra-bg: rgba(108, 157, 232, 0.2);

  --sandy-desert: #bd901a;
  --sandy-desert-bg: rgba(231, 200, 120, 0.2);

  --floral-blooming-lands: #c02f8c;
  --floral-blooming-lands-bg: rgba(212, 134, 184, 0.2);

  --lush-meadows: #1b8b48;
  --lush-meadows-bg: rgba(71, 218, 130, 0.2);

  --scorching-plateau: #cb4b2f;
  --scorching-plateau-bg: rgba(222, 124, 103, 0.2);

  --homey-village: #636363;
  --homey-village-bg: rgba(117, 117, 117, 0.2);

  --grey-200: #9e9e9e;
  --grey-400: #7e7e7e;
  --grey-600: #575757; //links
  --grey-800: #2e2e2e;
}
