.add_balance_button {
  background-color: rgba(91, 187, 95, 0.15);
  color: #5bbb5f;
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
