# dependencies
node_modules

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# pnpm
.pnpm-debug.log*
.pnpm-store

# local env files
.env*

# vercel
.turbo
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
dist

# graphql
generated.ts
schema.graphql
sdk.ts
genql