@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import "./variables/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f6f6f6;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.react-select__menu-list {
  :nth-child(1) {
    border-radius: 0px 0px 0px 0px !important;
  }
  * {
    border-radius: 0px 0px 12px 12px;
  }
}
