.yash__container {
  display: flex;
  flex-flow: row;
  gap: 5px;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  &__switcher {
    background-color: white;
    padding: 16px 16px;
    border: 1.9px solid #e4e7eb;
    border-radius: 12px;
     
  }
}
