.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance {
  background-color: #ffffff;
  width: 100%;
  height: 74px;
  margin-top: 12px;
  border-radius: 12px;
  display: flex;

  // &__section {
  //   margin-top: 20px;
  // }
}
