@keyframes hilaado {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 6px);
  }
  75% {
    transform: translate(0, -6px);
  }

  100% {
    transform: translate(0, 0px);
  }
}

@keyframes hilaade {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 1px);
  }
  75% {
    transform: translate(0, -1px);
  }

  100% {
    transform: translate(0, 0px);
  }
}


.map {
  padding: 14px;
  border-radius: 8px;
  margin-bottom: 12px;
  width: 100%;
  background-color: white;
  position: relative;
  &__image {
    position: relative;
    background: url("/nuxeland.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 170px;
  }

  &__text {
    font-size: 13px;
    color: #898989;
    font-weight: 500;
    letter-spacing: -0.5px;
  }

  &__expand {
    position: absolute;
    top: 14px;
    right: 14px;
  }

  &__button {
    opacity: 1;
    background-color: black;
    width: 35px;
    height: 20px;
    position: absolute;
    top: 40%;
    left: 27%;
  }

  &__imagezoom {
    background-color: white;
    background: url("/nuxeland.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 300px;
    left: 0px;
    top: 50%;
    transform: translate(0, -50%);
    margin-top: auto;
    margin-bottom: auto;
    z-index: 71;
    position: absolute;
  }
}

.overlay {
  z-index: 70;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  opacity: 1;
  transition:
    opacity 0.3s cubic-bezier(0.76, 0, 0.24, 1),
    display 0.3s 0.5s ease-in;
}

.link {
  font-weight: bold;
  z-index: 250;
  animation: hilaado 1s infinite linear;
}

.person {
  z-index: 400;
  color:#282828;
  animation: hilaade 1s infinite linear;
}

.popup {
  &__heading {
    font-size: 22px;
    font-weight: bold;

    letter-spacing: -0.75px;
  }

  &__desc {
    font-weight: 600;
    font-size: 17px;
    margin-top: 5px;
    color: #5b5b5b;
    letter-spacing: -0.75px;
    line-height: -30%;
  }

  &__stats {
    display: flex;
    margin-top: 18px;
    gap: 60px;
    &__stat {
      display: flex;
      flex-flow: column;
      &__heading {
        font-weight: 600;
        font-size: 16px;
        letter-spacing: -4.5%;
        color: #898989;
      }
      &__value {
        color: #3f3f3f;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -4.5%;
      }
    }
  }
  &__button {
    display: flex;
    position: relative;
    height: 58px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    border-radius: 8px;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: -0.75px;
  }
}

.tips {
  margin-top: 20px;
  margin-bottom: 25px;
  &__heading {
    letter-spacing: -0.75px;
    display: flex;
    align-items: center;
    gap: 10px;
    &__heading {
      font-size: 20px;
      font-weight: bold;
    }

    display: flex;
  }

  &__tips {
    list-style-type: disc;
    color: #3f3f3f;
    margin-left: 6px;
    font-weight: 500;
    font-size: 17px;
    margin-top: 12px;

    letter-spacing: -0.75px;
    list-style-position: inside;
  }
}

.uncle_chips {
  display: flex;
  flex-flow: row;
  gap: 5px;
  align-items: center;

  color: #4a4a4a;
  font-weight: 600;
  letter-spacing: -0.75px;
}
